* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}
#title {
  font-size: 175%;
  text-align: center;
}

section {
  width: 33%;
  float: left;
  padding: 10px;
  margin: auto;
  border: 1px solid black;
  background-color: grey;
  position: relative;
}

.name {
  border: 1px solid black;
  width: 30%;
  height: 25px;
  padding: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0px;
  font-size: 125%
}

#id1 {
  background-color: pink;
}
#id2 {
  background-color: green;
}
#id3 {
  background-color: yellow;
}

@media (min-width: 992px) {

}

@media (min-width: 768px) and (max-width: 991px) {
  #s1 {
    width: 50%;
  }
  #s2 {
    width: 50%;
  }
  #s3 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  section {
    width: 100%;
  }
}
